[submodule "lib/JUCE"]
	path = lib/JUCE
	url = git@github.com:juce-framework/JUCE.git
[submodule "lib/lager"]
	path = lib/lager
	url = git@github.com:arximboldi/lager.git
[submodule "lib/immer"]
	path = lib/immer
	url = git@github.com:arximboldi/immer.git
[submodule "lib/zug"]
	path = lib/zug
	url = git@github.com:arximboldi/zug.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/Microsoft/vcpkg.git
[submodule "lib/choc/choc"]
	path = lib/choc/choc
	url = git@github.com:Tracktion/choc.git
[submodule "lib/stretch"]
	path = lib/stretch
	url = https://signalsmith-audio.co.uk/code/stretch.git
[submodule "lib/glm"]
	path = lib/glm
	url = git@github.com:g-truc/glm.git
[submodule "lib/tinycolormap"]
	path = lib/tinycolormap
	url = git@github.com:yuki-koyama/tinycolormap.git
[submodule "lib/keychain"]
	path = lib/keychain
	url = git@github.com:hrantzsch/keychain.git
