[submodule "lib/JUCE"]
	path = lib/JUCE
	url = git@github.com:juce-framework/JUCE.git
[submodule "lib/immer"]
	path = lib/immer
	url = git@github.com:arximboldi/immer.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/Microsoft/vcpkg.git
[submodule "lib/choc/choc"]
	path = lib/choc/choc
	url = git@github.com:Tracktion/choc.git
[submodule "lib/stretch"]
	path = lib/stretch
	url = https://signalsmith-audio.co.uk/code/stretch.git
[submodule "lib/melatonin_test_helpers"]
	path = lib/melatonin_test_helpers
	url = https://github.com/sudara/melatonin_test_helpers.git
[submodule "lib/zones_convolver"]
	path = lib/zones_convolver
	url = git@github.com:zones-convolution/zones_convolver.git
[submodule "lib/rocket"]
	path = lib/rocket
	url = git@github.com:tripleslash/rocket.git
