{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/components/ui/(.*)$",
    "^@/(.*)$",
    "^[./]",
    "@test/(.*)$"
  ],
  "importOrderSeparation": true
}